*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

.parentContainer{
    background-color:rgb(124, 124, 156);
    width: 100vw;
    height: 100vh;
    /* display: grid;
    place-items: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.childContainer{
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    max-width: 100%;
    width: 800px;
    padding: 30px 20px;
    font-family: 'PT Mono', monospace;
}

h2{
    padding-bottom: 40px;
    color: rgb(104, 104, 105);
}

.joke{
    padding: 40px;
    font-weight: bold;
    font-size: 1.2rem;
   
}

.btn{
    font-size: 1.2rem;
    padding: 5px;
    background-color: rgb(248, 158, 39);
    border: none;
    box-shadow: 5px 5px 5px rgb(168, 164, 164);
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.btn:hover{
    transform: scale(1.1);
}